.AllCertificatesPageBackground{

  background-color:rgb(39, 39, 39);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backButton{

  margin-right: 93%;
  margin-top: 1.5%;
  height: 40px;
  width: 40px;
  opacity: 0.7;

}

.table{
  background-color: rgb(222, 233, 231);
}
